.computer-cards {
    width: 320px;
    height: 253px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    padding: 10px;
}

.computer-cards p {
    margin-bottom: 10px;
}

.computer-cards-img img {
    width: 130px;
    height: 180px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.computer-cards-img {
    display: flex;
}

.not-visible {
    width: 340px;
    height: 253px;
    margin: 0 10px;
    visibility: hidden;
}