.not-visible {
    visibility: hidden;
}

.cards-component-container {
    display: flex;
    flex-direction: column;
    background-color: #06391c;
    border: 10px double #603d36;
    border-radius: 80px;
    width: 872px;
    height: 334px;
}

.pot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 30px;
    font-size: 20px;
}

.cards {
    display: flex;
}

.player-cards-container,
.computer-cards-container {
    display: flex;
    flex-direction: column;
    margin: 0 60px;
    width: 452px;
}

.player-cards,
.computer-cards {
    display: flex;
    margin: 10px 0;
}

.player-cards img {
    width: 150px;
    height: 220px;
}

.computer-cards img {
    width: 150px;
    height: 220px;
}



